body{
    margin: 0;
    background-color: #1A1A1A;
    overflow-x: hidden;
    --_mesh-gradient-blur: 0px;
    --_mesh-gradient-blend-mode: normal;
    background: radial-gradient(at 14% 81%, #f07237 0px, transparent 50%), radial-gradient(at 15% 31%, #f0ce37 0px, transparent 50%), radial-gradient(at 92% 72%, #b5f037 0px, transparent 50%), radial-gradient(at 17% 21%, #37b5f0 0px, transparent 50%), radial-gradient(at 96% 2%, #7237f0 0px, transparent 50%) #000000;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur));
}

@keyframes hero-gradient-animation{0%{--s-start-0:2%; --s-end-0:78.72573401919361%; --x-0:98%; --c-0:hsla(55.58823529411776,0%,100%,0.86); --y-0:98%;}100%{--s-start-0:2%; --s-end-0:78.72573401919361%; --x-0:2%; --c-0:hsla(284.55882352941165,0%,100%,0.86); --y-0:98%;}}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:78.72573401919361%}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:98%}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(55.58823529411776,0%,100%,0.86)}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:98%}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:98%}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:78.72573401919361%}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:91%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(284.55882352941177,85%,73%,0.42)}@property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:61.288600779667334%}@property --x-2{syntax:'<percentage>';inherits:false;initial-value:16%}@property --y-2{syntax:'<percentage>';inherits:false;initial-value:87%}@property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(181.00000000000003,85%,73%,0.42)}@property --y-3{syntax:'<percentage>';inherits:false;initial-value:79%}@property --c-3{syntax:'<color>';inherits:false;initial-value:hsla(252.7941176470588,85%,73%,0.42)}@property --x-3{syntax:'<percentage>';inherits:false;initial-value:52%}@property --s-start-3{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-3{syntax:'<percentage>';inherits:false;initial-value:61.288600779667334%}body{--x-0:98%;--c-0:hsla(55.58823529411776,0%,100%,0.86);--y-0:98%;--x-1:98%;--y-1:91%;--c-1:hsla(284.55882352941177,85%,73%,0.42);--x-2:16%;--y-2:87%;--c-2:hsla(181.00000000000003,85%,73%,0.42);--y-3:79%;--c-3:hsla(252.7941176470588,85%,73%,0.42);--x-3:52%;;background-color:hsla(198.00000000000063,14%,16%,1);background-image:radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2)),radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3),transparent var(--s-end-3));animation:hero-gradient-animation 10s linear infinite alternate;background-blend-mode:overlay,normal,normal,normal;}

a, p, h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#everything{
    display: flex;
    align-items: center;
    height: 100vh;
}

#nav {
    background-color: #FFFFFF;
    width: 2%;   
    height: fit-content;   
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 2vh;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1vh;
    gap: 2vh;
}

.navButton {
    border: 0;
    border-radius: 10%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 8px -2px;
    height: 6vh;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeBtn{
    background-color: #00FF37 ;
}

#navIcon{
    font-size: 2.8vh;
}


/* Category Cards */

#categoryContainer {
    width: 100%; 
    height: 90%;
    display: flex;
    flex-wrap: wrap; 
    gap: 10%;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    border-radius: 3vh 0 0 3vh;
}

.Container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    overflow: hidden;
    border-radius: 1vh;
}

#imageContainer{
    background-color: #cfcfcf7a;
    width: 13vw;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;    
}
img{
    overflow: hidden;
    height: 100vh;
}

#title{
    background-color: rgb(0, 143, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#imageContainer p{
    color: rgb(46, 46, 46);
    font-size: 1.2vw;
}
